<nav class="w-full flex flex-col sm:flex-row justify-between container mx-auto py-2 px-3 relative lg:z-10">
    {% if layout == 'home' %}
        <h1 class="text-gray-800 uppercase">Christina Dimitriadis</h1>
    {% else %}
        <a class="text-gray-800 hover:text-black no-underline uppercase" href="/">Christina Dimitriadis</a>
    {% endif %}
    <ul class="flex md:flex-row uppercase" id="nav-menu" aria-hidden="true">

        <li class="pr-3">
            <a href="/works" class="text-gray-800 hover:text-black no-underline {% if title == 'Works'%} font-bold {% endif %} {% if layout == 'work'%} font-bold {% endif %}">Works</a>
        </li>
        <li class="pr-3">
            <a href="/texts" class="text-gray-800 hover:text-black no-underline">Texts</a>
        </li>
        <li class="pr-3">
            <a href="/bio" class="text-gray-800 hover:text-black no-underline {% if title == 'Bio'%} font-bold {% endif %}">Bio</a>
        </li>
        <li class="">
            <a href="/contact" class="text-gray-800 hover:text-black no-underline {% if title == 'Contact'%} font-bold {% endif %}">Contact</a>
        </li>

    </ul>
</nav>