<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

        {% if env == 'production' %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "app.compiled.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/app.compiled.css">
        {% endif %}
        {% if layout == 'home' %}
            <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        {% endif %}
    </head>
    <body>
        {% include "header.njk" %}
        {% block content %}{% endblock %}
    </body>
    <script src="/static/app.bundled.js"></script>
</html>