{% extends "./base.njk" %}

{% block content %}
<main class="container mx-auto px-3 mt-12">
    <h1 class="unseen">{{ title }}</h1>
    <div class="max-w-xl text-base tracking-normal generated">
        {{ content | safe }}
    </div>
</main>
{% endblock %}