{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto px-3 mt-12">
        <ul class=" w-full relative">
            {% for item in collections.text %}
                <li class="mb-6 w-full">
                    <a class="text text-gray-600 hover:text-black no-underline " href="{{ item.url }}">
                        <h2 class="font-bold ">{{ item.data.author }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}