{% extends "./base.njk" %}

{% block content %}
    <main class="container mx-auto px-3 mt-12">
        <ul class=" w-full relative">
            {% for item in collections.workSorted %}
                <li class="mb-6 w-full">
                    <a class="project text-gray-600 hover:text-black no-underline " href="{{ item.url }}">
                        <h2 class="uppercase font-bold xl:w-2/3">{{ item.data.title }}</h2>
                        <p class="xl:w-1/2">{{ item.data.year }}</p>
                        <div class="project__pic hidden xl:block absolute xl:w-1/3 right-0 top-0">
                            <img class="project__img" src="/{{ item.data.cover }}" />
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}